<% provide :title, t(".home") %>

<%= render "layouts/navi" %>
<%= render "layouts/section_about" %>
<div class="section">
  <div class="container">
    <%= render "products/index" %>
  </div>
</div>
